[Unit]
Description=OneDrive (rclone)
AssertPathIsDirectory=%h/OneDrive
# Make sure we have network enabled
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --vfs-cache-mode full onedrive: OneDrive
ExecStop=/usr/bin/fusermount -zu %h/Dropbox
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
